*{
    padding: 0;
    margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
    background: #0ac18e;
    overflow-x: hidden; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0ac18e;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
}

    .side-tab{
        position: fixed;
        left: -3px;
        top:33%;
    }
    @font-face {
        font-family: Ubuntu-Regular;
        src: url(font/Ubuntu-Regular.ttf);
      }
    @import "https://fonts.googleapis.com/css?family=Roboto";
    .cryptoboxes .mcw-label {
      display: inline-flex;
      font-family: Ubuntu-Regular,Roboto,sans-serif;
    }

    @media (max-width: 1100px) {
        .side-tab{
            display: none;
        }
        .cryptoboxes{
            display: none;
        }
    }